<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="WSGI_HANDLER" value="app:app" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="python" arguments="run.py" stdoutLogEnabled="true" stdoutLogFile="D:\home\LogFiles\python.log" />
    </system.webServer>
</configuration>
